.movie-card{
  justify-content: center;
  border: 1in;
  border-color: black;
  border-radius: 1%;
  border-width: 1in;
  margin: 1%;
}

.movie-card:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}
  
.movie-card img {
  justify-content: center;
  border-radius: 5px;
}
