.movie-details {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  .movie-details h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .movie-image {
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
    border-radius: 8px;
  }
  
  .movie-details p {
    margin: 10px 0;
    font-size: 16px;
  }
  
  .back-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .back-button:hover {
    background-color: #218838;
  }

  .movie-p{
    text-align: left;
  }