.movie-list {
    display: flex;
    flex-direction: row;
  }
  
  .movie-card {
    display: flex;
    text-decoration: none;
    color: inherit;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0.5%;
    transition: background-color 0.3s ease;
  }
  
  .movie-card:hover {
    background-color: #f0f0f0;
  }
  
  .movie-card img {
    width: 300px;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
  }

  .d-block{
    justify-self: center;
    justify-content: center;
    align-content: center;
    width: 80%;
  }